<div class="container" >
    <div class="row">
            <div class="container" >
                
                <img src="../../assets/images/aboutus1.jpg" style="width: 100%;margin-top: -15px;"><br>
                <p style="text-align: center;padding-left: 20%;padding-right: 20%;padding-top: 3%;padding-bottom: 3%;">We are a privately owned South African 
                    registered company. We are a specialised service provider of EPC project management, 
                    Business Systems Consulting 
                    and Training solutions to industrial and manufacturing customers in Southern Africa and beyond </p>
                    
                    <h1 style="font-weight: 700;text-align: center;text-decoration: underline;">WHAT WE OFFER</h1>
                    <div class="row">
                        
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card bg-light">
                                <div class="card-header bg-success" style="color: white; text-align:center">
                                    <h4>Services, Consultancy and training</h4>
                                    <img class="card-img-top rounded mx-auto" src="../../assets/images/CONSULTANCY.jpg" alt="Card image cap" style="max-width: 100%;">
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>Safety training and remedies on hazards and incidents cause by Plant equipment</li>
                                        <li>Plant performance improvement, troubleshooting and problem solving</li>
                                        <li>Failure analysis, deterioration, prevention of failures in plant (including thickness testing, vibrations, waste reduction, hazards reduction such as noise, heat, dust and gases )</li>
                                        <li>Implementing, maintaining and improving OHSE Management Systems (ISO 45001,ISO 14001) </li>
                                        <li>Security provision</li>
                                        <li>Financial and Risk Management provision</li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                           
                        </div>
                        <div  class="col-sm-12 col-md-12 col-lg-6" >
                            <div class="card bg-light" >
                                <div class="card-header bg-success" style="color: white; text-align:center">
                                    <h4>Project management</h4>
                                    <img class="card-img-top rounded mx-auto" src="../../assets/images/PROJECTMANAGEMENT.jpg" alt="Card image cap" style="max-width: 100%;">
                                </div>
                                <div class="card-body">
                                    
                                    <ul>
                                        <li>Engineering, Procurement and Construction of industrial and Manufacturing projects</li>
                                        <li>Project initiation, development and execution</li>
                                        <li>Project  Scope, Cost, and Schedule and Quality Management</li>
                                        <li>Due diligence projects for mergers and acquisitions</li>
                                    </ul>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                            <br>
                            
                            
                        </div>
                 
                </div>
                    <h1 style="font-weight: 700;text-align: center;text-decoration: underline;">MISSION AND VALUES</h1>
                    <div style="text-align: left;">
                        <ul>
                            <li>To provide business, quality and OHS consulting services that ensure that our client’s goals are met and their satisfaction is always guaranteed. </li>
                            <li> To facilitate skills development and training at all levels of industrial and manufacturing employees in the areas of lean and world class manufacturing, food safety, problem solving and continuous improvement</li>
                            <li> To partake in capital and value added projects including industrial and manufacturing facilities design and development, manufacturing feasibility studies in a manner that delights our clients from a social, economical and environmental responsibility perspective. </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 0px; ">
                            <div class="card bg-light" style="margin: 2%;height: 150px;">

                                <div class="card-body bg-light">
                                    Respect for ourselves, our workmates, our clients, our suppliers, our business partners.

                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 0px; ">
                            <div class="card bg-light" style="margin: 2%;height: 150px">
                                <div class="card-body bg-light">
                                    We will be honest and transparent with our clients and always hold ourselves to the highest ethical and moral standards.
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 0px; ">
                            <div class="card bg-light" style="margin: 2%;height: 150px">
                                <div class="card-body bg-light">
                                    Commitment to our work, our objectives and our obligations
                                </div>
                            </div>  
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 0px; ">
                            <div class="card bg-light" style="margin: 2%;height: 150px">
                                <div class="card-body bg-light">
                                    We aim to give nothing but the best in all we do
                                </div>
                            </div>  
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 0px; ">
                            <div class="card bg-light" style="margin: 2%;height: 150px">
                                <div class="card-body bg-light">
                                    Our clients are the reason we exist and we give them the quality they want and deserve, all the time.
                                </div>
                            </div>  
                        </div>
                        
                    </div>
                    <hr style="border: 1px solid;">
                

                    
            </div>

        
    </div>
</div>

