#myCarousel h4{
	font-size:40px;
	margin-bottom:15px;
	color:black;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:green;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: gray;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    background-color: orange;
}

.first{
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 3px;
}

.second{
    height: 5px;
    background: #009200;
    border-radius: 3px;
}

@media (max-width:1050px){
    p{
        font-size:13px;
    }
    h1{
        font-size:13px;
    }
    div a{
        font-size: 13px;
    }
    div{
        font-size: 13px;
    }
    #myItem{

        width:100%;
        float:left; 
        margin: 0.3%;
        

      }
      #myItemMain{

        width:100%;
        float:left; 
        margin: 0.3%;
      }
}

@media (min-width:1051px){
    #img1{
        max-height: 200px
    }
    #myItemMain{

        width:65%;
        float:left; 
        margin: 0.3%;
      }
    #myItem{

        width:32%;
        float:left; 
        margin: 0.3%;
      }
      #cardbody{
          height:200px;
      }

      #cardImage{
        height:200px;
    }
 

}