<div >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
  <ul class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color: white;color: black;">
        <img src="../../assets/images/testImage.jpg" style="max-width:100%; max-height: 450px;" class="rounded mx-auto d-block">
          <div class="carousel-caption" >
            <button routerLink="donation" class="btn btn-lg btn-outline-success" >Save  a soul today!!</button>
          </div>
    </div>

  
    <div class="carousel-item" style="max-width:100%;max-height: 450px;">
      <img src="../../assets/images/covid.jpeg" style="max-width:100%;max-height: 450px;" class="rounded mx-auto d-block">  
  </div>
  
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  </a>
  </div>



<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      <div id="myItemMain">
        
        <div style="border: 1px solid;border-radius: 3px;">
          <h3 class="bg-success" style="text-align: center;padding: 2%;border-radius: 3px;">Zimbabwe Current Situation</h3>
          <div style="text-align: left;" class="bg-light">
            <p style="padding: 1%;">
              Conditions for the rapid spread of COVID-19 are prevalent in 
              Zimbabwe’s urban centres due to crowding, poor sanitation, lack
               of running water and lack of basic services. The situation is 
               further exacerbated by a significantly high number of people 
               with compromised immunity as a result of HIV and TB. For 
               pandemic preparedness planners, this is a recipe for disaster.
                As more and more people get sick, the ability of the health 
                services to respond is seriously limited. In addition, our 
                hospitals have limited capacity as a result shortages in medicines and required medical
                 equipment.
              
            </p>
            <p style="padding: 1%;">
              In response to the above, JE Ubuntu has partnered with Shoka Dzogwendo Football Club in 
              mobilising funding that will contribute towards kicking out Covid-19 in Zimbabwe. Shoka
               Dzogwendo Football Club is a social soccer outfit founded by Zimbabweans living in 
               Johannesburg, South Africa, in 2015. JE Ubuntu are the current sponsors of Shoka Dzogwendo Football Club.
            </p>
             <img src="../../assets/images/shokafootballteam.jpeg" style="max-width: 100%;padding: 1%;border-radius: 10px;">
          </div>
        </div>
      </div>
        <div id="myItem">
        
          <div class="card bg-light mb-3"  style="min-height: 255px;">
            <div class="card-header bg-light" style="padding:0">
              <h3 style="text-align: center;padding: 10px;" class="bg-light">Total Received</h3>
              <img src="../../assets/images/donationimage.jpg" style="max-width: 100%;">
            </div>
            <br>
            <div class="card-body bg-warning">
              <h3 style="font-weight: 800; text-align: center;font-size: 40px;">{{totalDonationAmount | currency: 'ZAR':'code'}}</h3>
            </div>
            <div >
  
            </div>
            <div class="card-header">
              <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="donation">Donate</button>
            </div>
          </div> 
          
          <div class="card bg-white mb-3"style="max-width: 100%" >
            <h3 style="text-decoration: underline; text-align: center;padding: 10px;" class="bg-light">Top Donor</h3>
            <img class="card-img-top rounded mx-auto d-block" src="../../assets/images/person.JPG" alt="Card image cap" style="max-width: 160px;">
            <div class="card-body bg-success" style="border-radius: 3px;text-align: center;color: black;">
              <div style="font-weight: 500;font-size: 25px;">
                {{topDonorName}}
              </div>
              
              <div style="font-weight: 800;font-size: 40px;">
                {{topDonorTotal | currency: 'ZAR':'code'}} 
              </div>
                
             </div>
             
             <div class="bg-light" style="text-align: center;font-weight: bold;">
                 Thank you for your support
             </div>
            <div class="card-header">
              <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="donation">Donate</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div>
   <h1 style=" font-size: 32px;text-align: center;padding-top:4%;padding-bottom: 1%;font-weight: bold;text-decoration: underline;">Key donation categories</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="width:100%;">
        <div class="card bg-white mb-3" id="myItem" >
          <img class="card-img-top" src="../../assets/images/ventilator.jpg" alt="Card image cap" id="cardImage">
          <div class="card-body" style="margin-left: -10px;margin-right: -10px;">
            <h1 style="text-decoration: underline;text-align: center;">Ventilators</h1>
            
          <p class="card-text bg-light" style="border-radius: 5px; border: 1px solid;padding: 2%;" id="cardbody">Ventilators are
             critical in fighting Covid-19 as they assist  patients breathe. Currently there are not enough 
             ventilators in our hospitals and this adversely affects the ability of the health services 
            to respond to severe cases of this pandemic.</p>
        </div>
        <div class="card-header bg-warning">
          <h3 style="font-weight: bold; text-align: center;font-size: large;">{{name}}</h3>
          <div style="text-align: center;">Raised {{ progress | number:'1.0-3' }}%</div>
          <div class="first">
                  <div class="second" [ngStyle]="{'width.%' : width}"></div>
          </div>
         </div>
        </div>
        <div class="card bg-white mb-3" id="myItem" >
          <img class="card-img-top" src="../../assets/images/food.jpg" alt="Card image cap" id="cardImage">
          <div class="card-body" style="margin-left: -10px;margin-right: -10px;">
            <h1 style="text-decoration: underline;text-align: center;">Food</h1>
            
          <p class="card-text bg-light" style="border-radius: 5px; border: 1px solid;padding: 2%;" id="cardbody"> 
            With a high unemployment rate, a large percentage of Zimbabweans live from hand to mouth. 
            This makes it difficult to successfully limit human interaction during these tough times and 
            people end up 
            being forced by circumstances to continue with their day to day activities in order to make ends meet.
           </p>
        </div>
        <div class="card-header bg-warning">
          <h3 style="font-weight: bold; text-align: center;font-size: large;">{{name1}}</h3>
          <div style="text-align: center;">Raised {{ progress1 | number:'1.0-3' }}%</div>
          <div class="first">
                  <div class="second" [ngStyle]="{'width.%' : width1}"></div>
          </div>
        </div>
    </div>
    <div class="card bg-white mb-3"  id="myItem"  >
      <img class="card-img-top" src="../../assets/images/medicine.jpg" alt="Card image cap" id="cardImage">
      <div class="card-body" style="margin-left: -10px;margin-right: -10px;">
          <h1 style="text-decoration: underline;text-align: center;">Drugs</h1>
          
        <p class="card-text bg-light" style="border-radius: 5px; border: 1px solid;padding: 2%;" id="cardbody">
          Zimbabwean hospitals are faced with a shortage of drugs brought about by a poorly performing economy.
           A donation towards drugs will help in the fight against Covid-19 in the country.
           
        </p>
        
      </div>
    <div class="card-header bg-warning">
      <h3 style="font-weight: bold; text-align: center;font-size: large;">{{name2}}</h3>
      <div style="text-align: center;">Raised {{ progress2 | number:'1.0-1' }}%</div>
      <div class="first">
              <div class="second" [ngStyle]="{'width.%' : width2}"></div>
      </div>
      </div>
    </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-12">
      <img src="../../assets/images/washhands.png" style="max-width: 100%;border-radius: 5px;">
  </div>
</div>
<br>
<div class="row">
  <div id="myItemMain">
    <app-testchart></app-testchart>
  </div>
  <div id="myItem">    
    <div class="card">
      <div class="card-header" style="font-weight: bold;text-align: center;">
        Featured Donations (Latest)
      </div>
      <div class="card-body">
        <div *ngFor="let donor of latestDonors">
          <div class="row ">
            <div class="col-3">
              <img src="../../assets/images/person.JPG" style="max-width: 40px; margin-left: 0px">
              </div>
              <div class="col-9 bg-warning" style="margin-top: -7px;border-radius: 3px;" >
                <small style="font-weight: bold;">{{donor.firstName + " " + donor.lastName}}: ZAR{{donor.amount}} </small>
                <div style="margin-top: -5px;">
                  <small>{{donor.date | date:'dd/MM/yyyy'}}</small>
                </div>
                
              </div>  
          </div>
          <hr style="  border: 1px solid green; border-radius: 3px; margin-top: 6px;">
        </div>
    
      <div class="card-header">
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="donation">Donate</button>
      </div>
    
      
    </div>
    
    </div>
  </div>

</div>
</div>
</div>
  



