<div class="container" style="margin-top: 70px;">
    <form #signupForm = "ngForm" (ngSubmit)= "onSignUp(signupForm.value)">
        <div class="row">
            <div id="columns">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input class="form-control" id="name" name="name" [(ngModel)]="user.name" #firstname="ngModel" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="surname">Last Name</label>
                    <input class="form-control" id="surname" name="surname" [(ngModel)]="user.surname" #surname="ngModel" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email"
                    required email [class.is-invalid]="email.touched && email.invalid">
                    <small style="color: red" *ngIf="email.touched && email.invalid">Please enter a valid email</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password"
                    required [class.is-invalid]="password.touched && password.invalid">
                    <small style="color: red" *ngIf="password.touched && password.invalid">Please enter a password</small>
                </div>

                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" id="userName" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone" #phone="ngModel" placeholder="Phone Number">
                </div>
    
                <div class="form-group">
                    <label for="role">User Role</label>
                    <select #role="ngModel" name="role" id="role" class="form-control"
                     [(ngModel)]="user.role">
                        <option *ngFor="let role of roles" [value]="role.Id">{{ role.Name }}</option>
                    </select>
                </div>
               
                <div class="col-12 form-check">
                    <input class="form-check-input" type="checkbox" id="active" name="active" value="" 
                    [(ngModel)]="user.active"  #active="ngModel">
                    <label class="form-check-label" for="active">Active</label>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" [disabled] = "signupForm.invalid">
                </div>

            </div>
        </div>
    </form>
</div>
