<div class="container" style="margin-top: 70px;">
    <form #signInForm = "ngForm" (ngSubmit)= "onSignIn(signInForm.value)">
        <div class="row">
            <div id="columns">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  required type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="password">Passord</label>
                    <input required type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="password">
                </div>

                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" [disabled] = "signInForm.invalid">
                </div>

            </div>
        </div>
    </form>
</div>
