<br><br><br>
<div class="container-fluid" *ngIf="!isPaymentSuccessful">
    <div class="row">
        <div class="col-12">
            <div  id="myItemMain">
                <div class="card bg-white mb-3" style="width: 100%;">
                    <form #donationForm="ngForm" (ngSubmit)="saveDonation(donationForm.value)">
                    <div class="card-header bg-light">
                        <h3 style="font-size:50px;color: rgb(196, 189, 189); font-weight: 900; text-align: center;">Donation</h3>
                        <div class="row">
                            <div id="amountinput">
                                <div class="form-group" >
                                    <label for="amount">Amount(ZAR)</label>
                                    <input [disabled]="isSubmitted" required type="number" [class.is-invalid]="amount.invalid && amount.touched" 
                                    [class.has-success]="amount.valid" name="amount" #amount="ngModel" pattern="(^(?!(?:\d{1,2}|99.99)$)[0-9]\d+$)"
                                    [(ngModel)]="donation.amount" class="form-control form-control-lg" placeholder="Amount" id="amount">                             
                                </div> 
                            </div>
                            <div id="amountvalue" style="color: green;">
                                {{ amount.value | currency: 'ZAR':'code'}} 
                            </div>
                        </div>
                        <div class="row" *ngIf="amount.invalid && amount.touched" style="margin-top: -20px;">
                            <div class="col-12">
                                <small class="text-danger" >Amount should be a number greater than 100</small>
                            </div>
                        </div>
                        <div class="col-12 form-check">
                            <input class="form-check-input" type="checkbox" id="chkAnonymous" name="anonymous" value="" 
                            [(ngModel)]="donation.anonymous" (change)="onChangechkAnonymous(anonymous.value)" #anonymous="ngModel">
                            <label class="form-check-label" for="chkAnonymous">Save donation as anonymous</label>
                        </div>

                    </div>
                    <div class="card-body" style="margin-left: -10px;margin-right: -10px;">

                        <div class="row" *ngIf="isAnonymous">
                            <div class="col-12">
                                <div class="form-group" >
                                    <label for="lastName">Alias</label>
                                    <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="alias.invalid && alias.touched" 
                                    name="alias" #alias="ngModel" id="alias"
                                    [(ngModel)]="donation.alias" class="form-control" placeholder="Enter Anonymous/Alias">
                                    <small class="text-danger" *ngIf = "alias.touched && alias.errors?.required"> Alias/Anonymous name is required</small>
                                </div>
                            </div>
                        </div>
     
                            <div class="row" *ngIf="!isAnonymous">
                                <div class="col-12">
                                    <div class="form-group" >
                                        <label for="firstName" class="control-label">First Name</label>
                                        <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="firstname.invalid && firstname.touched" 
                                        name="firstName" #firstname="ngModel" id="firstName"
                                        [(ngModel)]="donation.firstName" class="form-control" placeholder="Enter First Name">
                                        <small class="text-danger" *ngIf = "firstname.touched && firstname.errors?.required"> First Name is required</small>
                                        
                                    </div>
                                    <div class="form-group" >
                                        <label for="lastName">Last Name</label>
                                        <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="lastname.invalid && lastname.touched" 
                                        name="lastName" #lastname="ngModel" id="lastName"
                                        [(ngModel)]="donation.lastName" class="form-control" placeholder="Enter Last Name">
                                        <small class="text-danger" *ngIf = "lastname.touched && lastname.errors?.required"> Last Name is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="!isAnonymous">
                                    <div class="form-group" >
                                        <label for="txtEmail">Email</label>
                                        <input [disabled]="isSubmitted" required email name="email" [(ngModel)]="donation.email" class="form-control" type="text" placeholder="Email" 
                                        [class.is-invalid]="email.invalid && email.touched" 
                                        name="email" #email="ngModel" [class.has-success]="email.valid" id="txtEmail">
                                        <small class="text-danger" *ngIf = "email.touched && email.errors?.required"> Email is required</small>
                                        <small class="text-danger" *ngIf = "email.touched && email.errors?.email"> Email is not valid</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-check" >
                                        <input [disabled]="isSubmitted" class="form-check-input" type="checkbox" id="chkDonationGrp" name="chkDonationGrp" value="" 
                                        [(ngModel)]="donation.chkDonationGrp" (change)="onChangechkDonationGrp(chkDonationGrp.value)" #chkDonationGrp="ngModel">
                                        <label class="form-check-label" for="chkDonationGrp">Donate to a particular group</label><br>
                                        <small style="color: rgb(182, 178, 178);">Check the checkbox if you want to specify
                                            a particular donation group
                                         </small>
    
                                    </div>
                                </div>


                                <div class="col-12" *ngIf="isDonationGrp">
                                    <div class="form-group">
                                        <label for="donationGroup">Donation Group</label>
                                        <select [disabled]="isSubmitted" #donationGroup="ngModel" name="donationGroup" id="donationGroup" class="form-control"
                                         [(ngModel)]="donation.donationGroup" (change)="onChangeGroup(donationGroup.value)">
                                         <option value="-1">Select Group</option>
                                            <option *ngFor="let grp of groups" [value]="grp.Id">{{ grp.Name }}</option>
                                        </select>
                                        <small class="text-danger" *ngIf="donationGroup.touched && !isValidGroup "> Group is required<br></small>
                                                                          
     
                                    </div>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea [disabled]="isSubmitted" name="comment" [(ngModel)]="donation.comment" class="form-control"  
                                name="comment" #comment="ngModel" id="comment"></textarea>
                                <small style="color: rgb(182, 178, 178);">*Optional*</small>
                            </div>
                              <div class="row" *ngIf="!isSubmitted">
                                <div class="col-2"></div>
                                <div class="col-8">
                                  <button class="btn btn-block btn-warning btn-lg" style="color: white" type="submit"
                                   [disabled]="(donationForm.invalid || !isValidGroup && isDonationGrp) || (donationForm.invalid && isDonationGrp)">Save Donation</button>
                                 </div>
                              </div>                    
                  </div>
                </form>
    
              </div>
    
    
            </div>
        </div>
 
    </div>
</div>


<div class="container" *ngIf="isPaymentSuccessful">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Donation Successful!!</h4>
        <p>To add another donation please .......</p>
        <hr>
        <p class="mb-0">JE Ubuntu</p>
      </div>
</div>
