@media (max-width:800px){
    p{
        font-size:13px;
    }
    h1{
        font-size:13px;
    }
    div a{
        font-size: 13px;
    }
    div{
        font-size: 13px;
    }
    #amountvalue{
        font-size: 27px;
        width:100%;
        float:left; 
        margin: 0.3%;
        font-weight: 600;
    }
    #amountinput{
        width: 33%; 
        margin-top: 0px
    }
    #myItem{

        width:100%;
        float:left; 
        margin: 0.3%;

      }
      #myItemMain{

        width:100%;
        float:left; 
        margin: 0.3%;
      }
}

@media (min-width:801px){
    #myItemMain{
        width: 48%; 
        float: left;
        margin: 1%;

      }
    #myItem{
        width: 48%; 
        float: left;
        margin: 1%;

      }
      #amountvalue{
        font-size: 40px;
        width: 75%; 
        float: left;
        margin: 1%;
        font-weight: 700;
    }
    #amountinput{
        width: 20%; 
        margin: 1%;
    }
 

}