<div class="container-fluid" *ngIf="!isPaymentSuccessful">
    <div class="row">
        <div class="col-12">
            <div  id="myItemMain">
                <div class="card bg-white mb-3" style="width: 100%;height: 900px;">
                    <form #donationForm="ngForm" (ngSubmit)="saveDonation(donationForm.value)">
                    <div class="card-header bg-light">
                        <h3 class="bg-success" style="font-size:50px;color: white; font-weight: 600; text-align: center;height: 74px;border-radius: 3px;">Donation<br></h3>
                        <small style="color: brown;font-weight: bold;">Applicable if you want to donate using card payments/paypal. For EFT payments, scroll down for our banking details</small>
                        <div class="row">
                            <div id="amountinput">
                                <div class="form-group" >
                                    <label for="amount">Amount(ZAR)</label>
                                    <input [disabled]="isSubmitted" required type="number" [class.is-invalid]="amount.invalid && amount.touched" 
                                    [class.has-success]="amount.valid" name="amount" #amount="ngModel" pattern="(^(?!(?:\d{1,2}|99.99)$)[0-9]\d+$)"
                                    [(ngModel)]="donation.amount" class="form-control form-control-lg" placeholder="Amount" id="amount">                             
                                </div> 
                            </div>
                            <div id="amountvalue" style="color: green;">
                                {{ amount.value | currency: 'ZAR':'code'}} 
                            </div>
                        </div>
                        <div class="row" *ngIf="amount.invalid && amount.touched" style="margin-top: -20px;">
                            <div class="col-12">
                                <small class="text-danger" >Amount should be a number greater than 100</small>
                            </div>
                        </div>
                        <div class="col-12 form-check">
                            <input class="form-check-input" type="checkbox" id="chkAnonymous" name="anonymous" value="" 
                            [(ngModel)]="donation.anonymous" (change)="onChangechkAnonymous(anonymous.value)" #anonymous="ngModel">
                            <label class="form-check-label" for="chkAnonymous">Save donation as anonymous</label>
                        </div>

                    </div>
                    <div class="card-body" style="margin-left: -10px;margin-right: -10px;">

                        <div class="row" *ngIf="isAnonymous">
                            <div class="col-12">
                                <div class="form-group" >
                                    <label for="lastName">Alias</label>
                                    <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="alias.invalid && alias.touched" 
                                    name="alias" #alias="ngModel" id="alias"
                                    [(ngModel)]="donation.alias" class="form-control" placeholder="Enter Anonymous/Alias">
                                    <small class="text-danger" *ngIf = "alias.touched && alias.errors?.required"> Alias/Anonymous name is required</small>
                                </div>
                            </div>
                        </div>
     
                            <div class="row" *ngIf="!isAnonymous">
                                <div class="col-12">
                                    <div class="form-group" >
                                        <label for="firstName" class="control-label">First Name</label>
                                        <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="firstname.invalid && firstname.touched" 
                                        name="firstName" #firstname="ngModel" id="firstName"
                                        [(ngModel)]="donation.firstName" class="form-control" placeholder="Enter First Name">
                                        <small class="text-danger" *ngIf = "firstname.touched && firstname.errors?.required"> First Name is required</small>
                                        
                                    </div>
                                    <div class="form-group" >
                                        <label for="lastName">Last Name</label>
                                        <input [disabled]="isSubmitted" required type="text" [class.is-invalid]="lastname.invalid && lastname.touched" 
                                        name="lastName" #lastname="ngModel" id="lastName"
                                        [(ngModel)]="donation.lastName" class="form-control" placeholder="Enter Last Name">
                                        <small class="text-danger" *ngIf = "lastname.touched && lastname.errors?.required"> Last Name is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="!isAnonymous">
                                    <div class="form-group" >
                                        <label for="txtEmail">Email</label>
                                        <input [disabled]="isSubmitted" required email name="email" [(ngModel)]="donation.email" class="form-control" type="text" placeholder="Email" 
                                        [class.is-invalid]="email.invalid && email.touched" 
                                        name="email" #email="ngModel" [class.has-success]="email.valid" id="txtEmail">
                                        <small class="text-danger" *ngIf = "email.touched && email.errors?.required"> Email is required</small>
                                        <small class="text-danger" *ngIf = "email.touched && email.errors?.email"> Email is not valid</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-check" >
                                        <input [disabled]="isSubmitted" class="form-check-input" type="checkbox" id="chkDonationGrp" name="chkDonationGrp" value="" 
                                        [(ngModel)]="donation.chkDonationGrp" (change)="onChangechkDonationGrp(chkDonationGrp.value)" #chkDonationGrp="ngModel">
                                        <label class="form-check-label" for="chkDonationGrp">Donate to a particular group</label><br>
                                        <small style="color: rgb(182, 178, 178);">Check the checkbox if you want to specify
                                            a particular donation group
                                         </small>
    
                                    </div>
                                </div>


                                <div class="col-12" *ngIf="isDonationGrp">
                                    <div class="form-group">
                                        <label for="donationGroup">Donation Group</label>
                                        <select [disabled]="isSubmitted" #donationGroup="ngModel" name="donationGroup" id="donationGroup" class="form-control"
                                         [(ngModel)]="donation.donationGroup" (change)="onChangeGroup(donationGroup.value)">
                                         <option value="-1">Select Group</option>
                                            <option *ngFor="let grp of groups" [value]="grp.Id">{{ grp.Name }}</option>
                                        </select>
                                        <small class="text-danger" *ngIf="donationGroup.touched && !isValidGroup "> Group is required<br></small>
                                                                          
     
                                    </div>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea [disabled]="isSubmitted" name="comment" [(ngModel)]="donation.comment" class="form-control"  
                                name="comment" #comment="ngModel" id="comment"></textarea>
                                <small style="color: rgb(182, 178, 178);">*Optional*</small>
                            </div>
                              <div class="row" *ngIf="!isSubmitted">
                                <div class="col-2"></div>
                                <div class="col-8">
                                  <button class="btn btn-block btn-warning btn-lg" style="color: white" type="submit"
                                   [disabled]="(donationForm.invalid || !isValidGroup && isDonationGrp) || (donationForm.invalid && isDonationGrp)">Enable Card Payments/Paypal</button>
                                 </div>
                              </div>                    
                  </div>
                  <div class="card-header bg-light" *ngIf="isSubmitted">
                      <div>
                          <p class="bg-white" style="font-weight: 800;text-align: center;color: green;">Thank you for your time and your resources to 
                            help make the world a better place. Payments can be made using the applicable button below</p>
                      </div>
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                   </div>
                </form>

              </div>
              <div style="width: 70%;margin-left: 14%;">
                <p class="bg-success" style="text-align: center; font-weight: bold;font-size: 16px;">If not making a card payment as a donation to the Zim Covid-19 Fund, you can use the following bank account details:</p>
                <div class="card bg-success mb-3" style="width: 100%;">
                    <div class="card-header bg-green" style="color: white;font-weight: 700;font-size: 30px;text-align: center;">
                        Banking Details
                    </div>
                    <div class="card-body bg-light">
                        <p id="accountdetails"><span style="font-weight: bold;">Bank: </span> FNB</p>
                        <p id="accountdetails"><span style="font-weight: bold;">Branch Name: </span> NORTHGATE</p>
                        <p id="accountdetails"><span style="font-weight: bold;">Account Name </span>: JE UBUNTU</p>
                        <p id="accountdetails"><span style="font-weight: bold;">Account Number: </span> 62848280244</p>
                        <p id="accountdetails"><span style="font-weight: bold;">Branch Code: </span> 256755</p>
                        <p id="accountdetails"><span style="font-weight: bold;">Swift Code: </span> FIRNZAJJ</p>
                        
                    </div>
                </div>
        
            </div>
    
            </div>
            <div  id="myItem">
                <div class="card bg-white mb-3" style="height: 900px;">
                    <h3 style="text-align: center;padding: 30px; color: white;" class="bg-success">Why should I Donate?</h3>
                    <img class="card-img-top rounded mx-auto d-block" src="../../assets/images/fundinggrowth.jpg" alt="Card image cap" style="max-width: 100%;margin-top: -20px;">
                    <div class="card-body">
                      <div class="bg-light" style="border-radius: 3px;text-align: left;color: black;font-size: small;">
                        <div>
                            Many feel handicapped based on how much they have and the magnitude of what they 
                            think will make a difference. Your contribution correlates to the number of people who 
                            can also do the same hence you do not have to be a millionaire to make the world a better place. 
                            To sum it, giving will benefit the neediest and put a smile on someone’s face. If you are someone 
                            happy to see the world you live in being a better place, here is an opportunity to make a difference.
                        </div>
                      </div> 
                    </div>
                    <div class="card-footer">
                        <div style="color: green; font-size: 30px; text-align: center;font-weight: bold;">
                            EVERY DOLLAR COUNTS!!!
                        </div>
                    </div>
                  </div>
            </div>
        </div>
 
    </div>

</div>


<div class="container" *ngIf="isPaymentSuccessful">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Payment Successful!!</h4>
        <p>Thank you for helping us in making the world a better place</p>
        <hr>
        <p class="mb-0">To know about us, please visit our About Page</p>
      </div>
</div>
