<nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-bottom: -100px;" >
  <a class="navbar-brand"><img src="../assets/images/ZIMCOVIDFUND.JPG" style="max-width: 200px; margin-top: -7px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" >
        <a class="nav-link" routerLink="zimcovid19fund">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="charts/donation">Statistics</a>
      </li>
      
    </ul>
    <ul class = "nav navbar-nav mx-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <img src="../assets/images/logo.jpg" style="max-width: 50px;">
      </li>
      <li class="nav-item"><a routerLink="user/signin" class="nav-link" href="#">Sign In</a></li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="onClickDonate()" style="background-color: orange;color: black;">Donate</button>
      </li>
    </ul>

  </div>
  
</nav>
<br><br><br><br>
<router-outlet></router-outlet>
<div style="background-color: rgb(41, 19, 61); text-align: left;padding: 3%;color: white;">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <span style="font-weight: bold;">Contact Details</span><br>
      
      
      +2776 298 1351<br>
      +2773 826 9637
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
        <span style="font-weight: bold;">Address</span><br>
        5328 NEVADA CLOSE<br>
        COSMO CITY EXT 5<br>
        RANDBURG<br>
        GAUTENG<br>
        2194<br>
    </div>
  
  </div>
  <br>  
  <p style="text-align: center;font-size: 13px;">
    @2020 Powered by Malvin Samanga & Tapiwa Chimana
  </p> 
</div>

